{% extends "main.html" %}

{% block title %}Create ticket{% endblock %}

{% block content %}
    <h1>Creating new Ticket</h1>
    <form method="post" action="/ticket/create" role="form" class="form-horizontal">
        <div class="form-group">
            <input type="hidden" name="csrf" value="{{ csrf }}">
            <label for="nameInput" class="col-sm-2 control-label">Ticket name</label>
            <div class="col-sm-8">
                <input class="form-control" name="name" id="nameInput" placeholder="Ticket name">
                {% if errors.name|length > 0 %}
                    {% for exception in errors.name %}
                        {% if exception|length > 0 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ exception }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="descriptionTextarea" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" id="descriptionTextarea" name="description" placeholder="Description"></textarea>
                {% if errors.description|length > 0 %}
                    {% for exception in errors.description %}
                        {% if exception|length > 0 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ exception }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="typeSelect" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-4">
                <select name="type" id="typeSelect">
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
                {% if errors.type|length > 0 %}
                    {% for exception in errors.type %}
                        {% if exception|length > 0 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ exception }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="assignneSelect" class="col-sm-2 control-label">Assignee</label>
            <div class="col-sm-4">
                <select name="assignee" id="assignneSelect">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.login }}</option>
                    {% endfor %}
                </select>
                {% if errors.assignee|length > 0 %}
                    {% for exception in errors.assignee %}
                        {% if exception|length > 0 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ exception }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}