{% extends "main.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Tickets</h1>
    <table id="tickets_table" class="cell-border" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Assignee</th>
                <th>Reporter</th>
                <th>Update date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.name }}</td>
                    <td>{{ attribute(ticket, 'type').name }}</td>
                    <td>{{ attribute(ticket, 'status').name }}</td>
                    <td>{{ attribute(ticket, 'assignee').login }}</td>
                    <td>{{ attribute(ticket, 'reporter').login }}</td>
                    <td>{{ ticket.update_date|date("m-d-Y") }}</td>
                    <td><a href="/ticket/{{ ticket.id }}">Open</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Assignee</th>
                <th>Reporter</th>
                <th>Update date</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}