{% extends "main.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h1>Log in Ticket system</h1>
    <form method="post" action="/login" role="form" class="form-horizontal">
        <div class="form-group">
            <input type="hidden" name="csrf" value="{{ csrf }}">
            <label for="loginInput" class="col-sm-2 control-label">Login</label>
            <div class="col-sm-10">
                <input class="form-control" name="login" id="loginInput" placeholder="Login">
                {% if error.login|length > 0 %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Error!</strong> {{ error.login }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="passwordInput" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password"  name="password" class="form-control" id="passwordInput" placeholder="Password">
                {% if error.password|length > 0 %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong> {{ error.password }}
                </div>
            {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}