{% extends "main.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>To register in the ticket system, fill in the fields</h1>
    <form method="post" action="/login/register" role="form" class="form-horizontal">
        <div class="form-group">
            <input type="hidden" name="csrf" value="{{ csrf }}">
            <label for="loginInput" class="col-sm-2 control-label">Login</label>
            <div class="col-sm-10">
                <input class="form-control" name="login" id="loginInput" placeholder="Login">
                {% if errors.exist|length > 0 %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Error!</strong> {{ errors.exist }}
                    </div>
                {% endif %}
                {% if errors.login|length > 0 %}
                    {% for exception in errors.login %}
                        {% if exception|length > 0 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ exception }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="passwordInput" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password"  name="password" class="form-control" id="passwordInput" placeholder="Password">
                {% if errors.password|length > 0 %}
                    {% for exception in errors.password %}
                        {% if exception|length > 0 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ exception }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}