{% extends "main.html" %}

{% block title %}{{ ticket.name }}{% endblock %}

{% block content %}
    <h1>{{ name }}</h1>
    {% if user.role == 'admin' or attribute(ticket, 'reporter').id == user.id or attribute(ticket, 'assignee').id == user.id %}
    <div class="col-md-2">Actions</div>
    <div class="col-md-10"><a href="/ticket/update/{{ ticket.id }}">Update</a></div>
    {% endif %}
    <div class="col-md-2">Name</div>
    <div class="col-md-10">{{ ticket.name }}</div>
    <div class="col-md-2">Description</div>
    <div class="col-md-10">{{ ticket.description }}</div>
    <div class="col-md-2">Type</div>
    <div class="col-md-10">{{ attribute(ticket, 'type').name }}</div>
    <div class="col-md-2">Status</div>
    <div class="col-md-10">{{ attribute(ticket, 'status').name }}</div>
    <div class="col-md-2">Reporter</div>
    <div class="col-md-10">{{ attribute(ticket, 'assignee').login }}</div>
    <div class="col-md-2">Assignee</div>
    <div class="col-md-10">{{ attribute(ticket, 'reporter').login }}</div>
    <div class="col-md-2">Created</div>
    <div class="col-md-10">{{ ticket.create_date|date("m-d-Y") }}</div>
    <div class="col-md-2">Updated</div>
    <div class="col-md-10">{{ ticket.update_date|date("m-d-Y") }}</div>
    <div class="col-md-2">Comments</div>
    <div class="col-md-10">
        <div class="row">
            {% for comment in comments %}
                <div class="col-md-12">
                    <div>
                        <strong>{{ attribute(comment, 'author').login }}</strong> <i>{{ comment.create_date|date("m-d-Y h:i:s") }}</i>
                    </div>
                    <div>
                        {{ comment.text }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if user.id|length != 0 %}
        <div class="col-md-2">Add comment</div>
        <div class="col-md-10">
            <form method="post" action="/ticket/{{ ticket.id }}" role="form" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-8">
                        <input type="hidden" name="csrf" value="{{ csrf }}">
                        <textarea class="form-control" rows="3" id="commentTextarea" name="comment" placeholder="Description"></textarea>
                        {% if errors.comment|length > 0 %}
                            {% for comment in errors.comment %}
                                {% if comment|length > 0 %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>Error!</strong> {{ comment }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}