{% extends "main.html" %}

{% block title %}Update ticket {{ ticket.name }}{% endblock %}

{% block content %}
    <h1>Update ticket {{ ticket.name }}</h1>
    <form method="post" action="/ticket/update/{{ ticket.id }}" role="form" class="form-horizontal">
        <div class="form-group">
            <input type="hidden" name="csrf" value="{{ csrf }}">
            <label for="nameInput" class="col-sm-2 control-label">Ticket name</label>
            <div class="col-sm-8">
                <input class="form-control" name="name" id="nameInput" value="{{ ticket.name }}" placeholder="Ticket name">
                {% if errors.name|length > 0 %}
                    {% for exception in errors.name %}
                        {% if exception|length > 0 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ exception }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="descriptionTextarea" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" id="descriptionTextarea" name="description" placeholder="Description">{{ ticket.description }}</textarea>
                {% if errors.description|length > 0 %}
                    {% for exception in errors.description %}
                        {% if exception|length > 0 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ exception }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="typeSelect" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-4">
                <select name="type" id="typeSelect">
                    {% for type in types %}
                        <option value="{{ type.id }}" {% if type.id == ticket.type_id %}selected
="selected
"{% endif %} >{{ type.name }}</option>
                    {% endfor %}
                </select>
                {% if errors.type|length > 0 %}
                    {% for exception in errors.type %}
                        {% if exception|length > 0 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ exception }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="typeSelect" class="col-sm-2 control-label">Status</label>
            <div class="col-sm-4">
                <select name="status" id="statusSelect">
                    {% for status in statuses %}
                        <option value="{{ status.id }}" {% if status.id == ticket.status_id %}selected
="selected
"{% endif %} >{{ status.name }}</option>
                    {% endfor %}
                </select>
                {% if errors.status|length > 0 %}
                    {% for exception in errors.status %}
                        {% if exception|length > 0 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ exception }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="assignneSelect" class="col-sm-2 control-label">Assignee</label>
            <div class="col-sm-4">
                <select name="assignee" id="assignneSelect">
                    {% for user in users %}
                        <option value="{{ user.id }}" {% if user.id == ticket.assignee_id %}selected
="selected
"{% endif %}>{{ user.login }}</option>
                    {% endfor %}
                </select>
                {% if errors.assignee|length > 0 %}
                    {% for exception in errors.assignee %}
                        {% if exception|length > 0 %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> {{ exception }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-default">Update</button>
            </div>
        </div>
    </form>
{% endblock %}